.search-body{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    background: #d1d1d1;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    .search-menu{
        align-items: center;
        margin-left: 10px;
        display:flex;
        flex-direction: row;
        .ant-input{
            height: 40px;
            margin-left: 10px;
        }
        .ant-calendar-picker{
            display: inline-block;
            height: 40px;
            margin-right: 10px;
            
        }
        >span{
            display: inline-block;
            font-size: 12px;
            vertical-align: middle;
        }
        .search-input{
            vertical-align: middle;
        }
    }
    
    .ant-btn{
       // margin-top: 25px;
        height: 40px;
        width: 100px;
        margin-left: 30px;
    }


}

.ant-table-wrapper{
    margin-top: 20px;
}

